<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020-2021.  安卓
  ~ FileName: ${NAME}
  ~ Author: ${USER}
  ~ Date: ${DATE} ${TIME}
  ~ Description: ${DESCRIPTION}
  ~ History:
  ~ <author> <time> <version> <desc>
  ~ 作者姓名 修改时间 版本号 描述
  ~ 本代码未经许可，不得私自修改何使用
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhy.safe">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.APISecurity">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>